//dataTable - start ============
#dataTableBuilder_wrapper {
  .dt-buttons {
    float: right;
  }

  tbody {
    tr td:last-child {
      text-align: center;
    }
  }

  tfoot {
    display: table-row-group;
  }
}
//=========== dataTable - end

//breadcrumb - start =========
ul.breadcrumb {
  li {
    text-transform: capitalize;
  }
}
//=========== breadcrumb - end
