//dataTable - start ============
#dataTableBuilder_wrapper {
  overflow-x: scroll;

  table.dataTable {
    thead tr {
      th:not(:first-child) {
        min-width: 110px;
      }

      th:last-child {
        min-width: 60px;
      }
    }
  }

  .dt-buttons {
    float: right;
  }

  tbody {
    tr td:last-child {
      text-align: center;
    }
  }

  tfoot {
    display: table-row-group;
  }
}

//=========== dataTable - end

//breadcrumb - start =========
ul.breadcrumb {
  li {
    text-transform: capitalize;
  }
}

//=========== breadcrumb - end
.sortable-cate {
  .selected-cate {
    color: #8c1a1a;
  }
  .sortable-drag {
    background: #daf4ff;
  }

  li {
    cursor: pointer;

    &.sortable-ghost {
      opacity: 0.4;
      background-color: #F4E2C9;
    }
  }
  .sortable-ghost {
    opacity: .2;
  }

  .btn-group {
    position: absolute;
    right: 10px;
    top: 5px;

    .btn {
      padding: 5px 10px;
      border: 1px solid #bfacac;
    }
  }
}

#cate25-sortable {
}