<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vue 2.0</title>
    <script src="vue.2.0.js"></script>

</head>
<body>
<div id="app">
    {{ message }}
</div>

<div id="app-2">
    <com-txt></com-txt>
    <!--v-bind:attribute-->
    <span v-bind:class="classSpan" :title="timenow">
    Hover your mouse over me for a few seconds to see my dynamically bound title!
    </span>
</div>

<div id="app-3">
    <p v-if="seen">Hello, now you see me</p>
</div>

<div id="app-4">
    <ol>
        <li v-for="todo in todos">
            {{todo.txt}}
        </li>
    </ol>
</div>

<div id="app-5">
    <p >{{mess5}}</p>
    <button @mouseover="fcHover" @click="fcClick">Click me</button>
</div>

<div id="app-6">
    <p>{{mess6}}</p>
    <input v-model="mess6">
</div>

<div id="app-6-mount">
    <p>{{mess6}}</p>
</div>

<div id="app-7">
    <h2>Component</h2>
    <com-txt></com-txt>
    <ol>
        <!-- Now we provide each todo-item with the todo object    -->
        <!-- it's representing, so that its content can be dynamic -->
        <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
    </ol>
</div>
<!--phải đặt file js ở cuối cùng để nó load DOM trước-->
<script src="component1.js"></script>
<script src="app1.js"></script>
</body>
</html>